<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory"
             relativeAddress ="./HelloWorldService.svc"
             service="HelloWorldService.HelloWorldService"/>
      </serviceActivations>
    </serviceHostingEnvironment>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="HelloWorldService.HelloWorldService">
        <endpoint address="" binding="netTcpBinding"
                  contract="HelloWorldService.IHelloWorldService"/>
        <host>
          <baseAddresses>
            <add baseAddress=
                 "net.tcp://localhost/HelloWorldServiceTcp/"/>
          </baseAddresses>
        </host>        
       </service>
    </services>  
  </system.serviceModel>
</configuration>
